<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Test_task</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
                        initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block head %}
      <h2><font size=6, color="blue">ООО "Зеленоглазое такси"</font></h2>
  {% endblock %}
</head>

<body>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul
          <li><a href="{% url 'company:index' %}">Главная страница</a></li>
          <li><a href="{% url 'company:employees_list' %}">Все Сотрудники</a></li>
          <li><a href="{% url 'company:positions_list' %}">Все Должности</a></li>
          <li><a href="{% url 'company:departments_list' %}">Все Отделы</a></li>
          <li><a href="{% url 'company:subdivisions_list' %}">Все Подразделения</a></li>
          <li><a href="{% url 'company:employees_new' %}">Добавить сотрудника</a></li>
          <li><a href="{% url 'company:subdivisions_new' %}">Добавить подразделение</a></li>
      </ul>
          <ul class="sidebar-nav">
   {% if user.is_authenticated %}
     <li>Пользователь: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Войти</a></li>
   {% endif %}
  </ul>
      {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}

      </div>
    </div>
  </div>
</body>
</html>

